# Package manager
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# JetBrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace

# Dependencies
node_modules/

# Local History for Visual Studio Code
.history/

# Misc
.DS_Store
._*
.Spotlight-V100
.Trashes

# ESLint
.eslintcache

# Build and test
dist/
build/
coverage/
target/

# Cache
.cache/
.anchor/

# Env
*keypair.json
.keypairs/

# Docs
docs/
