# JetBrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace
.history/

# Misc
.DS_Store
._*
.Spotlight-V100
.Trashes

# Build and test
dist/
build/
coverage/
target/

# Cache
.cache/
.anchor/

# Env
*keypair.json
.keypairs/

# Docs
docs/